<section class="todoapp">
  <header class="header">
    <h1><%= @list.name %></h1>
    <%= form_for([@list, @guest]) do |f| %>
      <%= f.text_field :name, :class => "new-todo", :placeholder => (@guest.errors.full_messages_for(:name).first || "Enter a new guest...") %>
      <% @guest.list_id = @list.id %>
      <%= f.submit :style => "display: none" %>
    <% end %>
  </header>


  <section class="main">
    <input class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as attending</label>
    <ul class="todo-list">
      <% @list.guests.each do |guest| %>
      <li class="<%= "completed" if guest.attending? %>">
        <div class="view">
          <%= form_for([@list, guest]) do |f| %>
            <%= f.check_box :status %>

            <!-- <%= f.submit :style => "display: none" %> -->
            <%= f.submit "Change Attendance"%>

          <% end %>
          <% guest.list_id = @list.id %>

          <label><%= link_to guest.name, list_guest_path(@list, guest) %>
          </label>
        </div>
      </li>
      <% end %>
    </ul>
    <p><%= @user%></p>


    <%= form_for @sharedlist do |f|%>
      <%= f.collection_select(:user_id, User.all, :id, :username) %>
      <%= f.hidden_field :list_id, :value => @list.id %>
      <%= f.hidden_field :permission, :value => 10 %>

      <%= f.submit "Add A Host" %>
    <% end %>

    <p>Hosts
      <%=@current_user%>
    <%= SharedList.last.user.username%></p>



  </section>


 <footer class="footer">


  </footer>
</section>
<%= link_to 'Your Events', lists_path %> |

