<h2><%=@list.name %> Guests</h2>

<div class="guests" >
  <ol>
    <% @guests.each do |guest| %>
      <li><%= guest.name %></li>
    <% end %>
  </ol>
</div>

<%= form_for ([@list, @guest])do |f|  %>
  <%= f.text_field :name %>
  <p><%= f.submit "Add guest", :data => { disable_with: false } %></p>
<% end %>

<a href='/lists/<%=@list.id%>/comments'>View Event Comments</a>
