<!DOCTYPE html>
<html>
  <head>
    <title>GuestList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="app-container" class="container">
      <div id="list-container">
      <%= yield %>
    </div>
    </div>
  </body>
  <%= link_to "View All Events", lists_url, class: 'load_events'%>
  <%= link_to 'Logout', logout_path %>
</html>
